<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miage.m1.capture.capturedesbesoins">

    <!-- PERMISSIONS -->

    <!-- Ecriture en dehors de l'application (EXTERNAL STORAGE) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Connexion à internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- FIN PERMISSIONS -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité dédié à un Projet -->
        <activity
            android:name=".ProjetActivity"
            android:label="@string/title_activity_projet"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miage.m1.capture.capturedesbesoins.MainActivity" />
        </activity>

        <!-- Pour utiliser l'api Google Drive -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbMPdKd-iHzzNQ8lQ1odFWkdpa-A1_YFw" /> -->

       <meta-data
           android:name="com.google.android.geo.API_KEY"
           android:value="AIzaSyC4hoGv1rxoz6gRNOryy7AktLO1BB0ica8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>