<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capture_besoins.main">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Capture des besoins"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="capture_besoins.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="capture_besoins.plugins.texte_simple.Plugin_texte_simple"></activity>
        <activity android:name="capture_besoins.projet.Projet"></activity>
        <activity android:name="capture_besoins.plugins.texte_word.Plugin_texte_word"></activity>
        <activity android:name="capture_besoins.plugins.photo.Plugin_photo"></activity>
        <activity android:name="capture_besoins.plugins.son.Plugin_son"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>