<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capture_besoins.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Capture des besoins"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="capture_besoins.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="capture_besoins.plugins.texte_simple.Activity_Texte"></activity>
        <activity android:name="capture_besoins.projet.Projet"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>